<h4><%= @post.title %></h4>
<h4><%= @post.content %></h4>
<h4>Categories: </h4>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<h4>Comments: </h4>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= "#{comment.user.username} says: #{comment.content}" %></li>
  <% end %>
</ul>

<%= form_for @comment do |f| %>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_select :user_id, User.order(:username), :id, :username, include_blank: true %>
  <%= f.fields_for :user_attributes, @comment.user do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit %>
<% end %>

<h4>Users: </h4>
<ul>
  <% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>